---
---

@import "{{ site.theme }}";

.homepage-title {
    margin-top: 25%;
    font-size: 5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    align: center;
}

.homepage-links {
  font-size: 1.5em;
  margin-left: 50%;
  margin-right: 50%;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: bold;
  align: center;
}
