<!DOCTYPE html>
	<html>
		<head>
		    <nav>
	    		<ul>
		        	<li><a href="/team">Team</a></li>
	        		<li><a href="/current-projects">Current Projects</a></li>
                                <li><a href="/past-projects">Past Projects</a></li>
	    		</ul>
			</nav>
			<h2>Digital Scholarship at Penn</h2>
			<title>Digital Scholarship at Penn - {{ page.title }}</title>
			<h3>{{ page.title }}</h3>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
